{% extends 'base.html' %}

{% block title %}About{% endblock title %}
{% block head%}
<style>
img {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1.5em;
  }
img:hover{
    transform:scale(1.05);
}
</style>
{% endblock%}
{% block body %}

<main>
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing my-4">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="static/img/dp1.jpg" width=245px height=200px style="border-radius:50%" >

        <h2>Deepika padukon</h2>
        <p>Founder and CEO of this Ice-cream</p>
        

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="static/img/lm10.jpg" width=245px height=200px style="border-radius:50%" >
        <h2>lional Messi</h2>
        <p>Co-Founder and managing director of Ice-Cream</p>
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="static/img/r1.jfif" width=245px height=200px style="border-radius:50%" >

        <h2>Rohit Sharma</h2>
        <p>CEEO and Adviser of Ice-cream</p>
        
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <img src="static/img/101.jfif" class="d-block">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="static/img/102.jfif" class="d-block">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <img src="static/img/103.jfif" class="d-block">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

</main>
<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
{% endblock body %}

